*{
   
    box-sizing: border-box;
}


@font-face
{
    font-family: 'Microsoft sans serif';
    src:  url('fonts/micross.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: 'ptsans';
    src:  url('fonts/PTC55F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
  
    
    margin:auto;
    width: 1190px;
    box-sizing: border-box;
}

header{
    width: 590px;
    display: inline-block;

}
nav li{
    display: inline-block;
    background-color:rgb(186, 181, 181) ;

}

#primero{
    width: 590px;
    float: right;
    text-align: right;
    font-size: 26px;
    font-family: 'Microsoft sans serif';
    
   
    
}
#primero li{
  
    padding: 5px;
    border-radius: 10px 10px 10px;
   
}

nav a{
    
    text-decoration: none;
    color: grey;
    border: 100px;
   
   
}



#secundario{
    width: 690px;
    float: left; 
    height: 50px;
    font-size: 17px;
    font-family: sans-serif;
    border-bottom:solid 1px black;
   
}

#linea{
    float:left;
    width:10px;
    border-bottom:solid 1px black;
    height: 50px;
}

#secundario li{
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
#secundario ul{
    padding-left: 15px;
   
    
}


#sub{
    width: 100%;
    font-size: 42px;
    font-family: sans-serif;
    
}


#idioma{
    width: 490px;
    float:right;
   text-align: right;
   height: 50px;
   padding-top: 22px;
   border-bottom:solid 1px black;
   color:lightgray;
   
}

#idioma>button{
    margin:0;
}

#uno{
    border:gray solid;
    border-radius: 10px 0px 0px 10px ;
}
#dos{
    border-top:gray solid;
    border-bottom:gray solid;

}
#tres{
    border:gray solid;
    border-radius: 0px 10px 10px 0px ;
}

#program {
    width: 890px;
    display: inline-block;
    padding-left: 18px;
   
    
}

article{
    float:left;
}
section{
    float:left;
}

#program>p{
    width: 620px;
    font-family:'Times New Roman', Times, serif;
    display: inline-block;

}

#program>h1{
font-size: 30px;
color:rgb(86, 163, 138);
font-weight: bold;
}

#fp{
   
    float: right;
   
}

#about{
    width: 490px;
    display: inline-block;
    margin-right:10px;
    padding-left: 18px;
    
}
#about>h1{
    font-size: 15px;
}
#about>p{
width: 300px;
}
#schedule{
    width: 390px;
    display: inline-block;
    padding-left: 10px;
}

#schedule>h1{
    font-size: 15px;

}

#festival {
    width: 890px;
padding-left: 18px;

}

#festival>p{
    margin-right: 300px;
}



section{
    width: 890px;
}

.caja{
    width: 290px;
    height: 170px;
    display: inline-block;
    margin-right: 10px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
   background-color: rgb(240, 129, 129);
   background-clip: content-box;
   margin-bottom: 10px;
   
   
}
.caja>h1{
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
}
.caja>p{
    margin-left: 4px;
    margin-right: 4px;
}

.caja:nth-child(3n){
    margin-right: 0;
}

article h1{
    font-family: 'Microsoft sans serif';
}
#registro{
  
    font-family: Georgia;
    width: 290px;
   padding-left: 23px;
   padding-top: 22px;
   background-color: aqua;
   height: 110px;
   margin-top: 20px;
   border-radius:  15px;
  
 
}
#registro>button{
width:240px ;
height: 50px;
background-color: greenyellow;
font-family: Georgia;
font-size: 25px;
color: white;
border-radius:  5px;
border-color: greenyellow;


}

#registro>p{
    font-size: 12px;
}
#listaImagenes{
   
    margin-top: 20px;
    width: 290px;
    background-color: lightgray;
   font-family: sans-serif;
    height: 380px;
    border-radius:  5px;
    border-color: lightgray;
}



#who{
    
    margin-top: 20px;
    top: 900px;
    width: 290px;
    background-color: blanchedalmond;
    padding-left: 10px;
    height: 490px;
    border-radius:  5px;
    border-color:  blanchedalmond;
}
#who>p{

    margin:0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 50px;
    font-family: sans-serif;
   
}

#who>#roman{
    font-family: 'Times New Roman', Times, serif;

}
#listaImagenes>img{
  
 
    list-style: none;
    margin:5px;
   vertical-align: left;
   display: inline-block;
   margin-left:15px;

  
}





#listaImagenes>p{
    
   
   float: right;
  
  
   font-size: 12px;
   width: 220px;
   vertical-align: left;


}

#redes{
    margin-top: 20px;
}
#redes>button>img{
    float:left; 
}
#redes>button>p{
    width: 120px;
    float:left;
    text-align: left;
  
}

#redes>button{
    width: 230px;
    margin-bottom: 10px;
    height: 40px;
    background-color: lightblue;
    border-radius:  5px;
    border-color:   lightblue;
    
}

aside{
    width: 290px;
    float: right;
    
}