*{
   
    box-sizing: border-box;
}

/* fuentes */



.font1{
    font-family: 'PT Sans', sans-serif;
}

.font2{
    font-family: Georgia;
}

.font3{
    font-family: sans-serif;

}

/*colores de letras*/



#who>p,#who>b,.cajas>h1{
    color: rgb(25, 25, 104);
}

#ultimoh1,#program>h1{
    color:#39b7b1;
    
}

a,#about>h1,#schedule>h1,#festival>h1,#sub{
    
    color: #04756f;
    text-decoration: none;
}
/* body*/

body{
    margin:auto;
    width: 1190px;
    box-sizing: border-box; /* con esta propiedad conseguimos que se mantengan las 
    dimensiones de las cajas al aumentar o disminuir las cosas de dentro que contiene o al añadir paddings*/
}

/*EXPLICACION FLOATS*/

/* Para que todo los elementos quedasen ordenados y en la posicion correcta les he dado su width correspondiente
,los he ordenado en la estructura del html por el orden que aparecen en la pagina de izq a derecha y he utilizado
las siguientes propiedades float left para los elementos mas a la izq y para los que van a su derecha float right
de este forma se van quedando solos en su posicion correcta.*/

/*header imagen logo*/
header{
    width: 590px;
    display: inline-block;

}

/*caracteristicas que comparten las listas de nav*/
nav li{
    display: inline-block; /* par que la lista se vea en lista horizontal*/
    background-color:rgb(238, 232, 232) ;

}

nav a{
    text-decoration: none;
    color: grey;
    border: 100px;
}

/* primera lista de navegacion*/

/*parte de login*/
#login{
    font-size: 12px;
   
}
#login li{
    background-color: white;
}
#primero{
    width: 590px;
    float: right;
    text-align: right;
    font-size: 26px;
      
}
#primero li{
    padding: 5px;
    border-radius: 10px 10px 10px; 
}

#linea{
    float:left;
    width:10px;
    border-bottom:solid 1px black;
    height: 50px;
}

/* segunda lista de navegacion*/

#secundario{
    width: 690px;
    float: left; 
    height: 50px;
    font-size: 17px;
    border-bottom:solid 1px black;
   
}

#secundario li{
   
        padding: 5px;
border-radius: 10px 10px 0px 0px; /*para que se rondeen las aristas de la lista excepto la parte que la corta la linea*/
}
#secundario ul{
    padding-left: 15px;
    
}

/*subtitulo*/
#sub{
    width: 100%;
    font-size: 42px;
    font-family: sans-serif;
    
}

/*caja idioma*/

#idioma{
    width: 490px;
    float:right;
   text-align: right;
   height: 50px;
   padding-top: 22px;
   border-bottom:solid 1px black;
   color:lightgray;
   
}

#idioma>button{
    margin:0;
}

/*para darle la forma correcta a los botones ya que la zona del medio no esta redondeada*/

#uno1{
    border:gray solid 0.5px;
    border-radius: 10px 0px 0px 10px ;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 2px,2px inset ;
}
#dos2{
    border-top:gray solid 0.5px;
    border-bottom: gray solid 0.5px;
    border-left: none;
    border-right: none;

}
#tres3{
    border:gray solid 0.5px;
    border-radius: 0px 10px 10px 0px ;
}


/*caracteristicas  de article,section, aside*/

article,section{
    float:left;
    
}


section{
    width: 890px;
}

aside{
    width: 290px;
    float: right;
    
}

/* program*/

#program {
    width: 890px;
    padding-left: 18px; 
}


#program>p{
    width: 620px;
    display: inline-block;/*para poder poner la imagen a la izquierda del texto*/

}

#program>h1{
font-size: 30px;

font-weight: bolder; /*para poner negrita un texto*/
}

/*imagen que va dentro del program*/

#fp{
   float: right;
   padding-right: 40px;
}
/*about*/
#about{
    width: 490px;
    margin-right:10px;
    padding-left: 18px;
    
}
#about>h1{
    font-size: 20px;
    font-weight: bold;
}
#about>p{
width: 350px;
color:#ababab;
}

/*schedule*/
#schedule{
    width: 390px;
    padding-left: 10px;
    padding-right: 30px;
}

#schedule>h1{
    font-size: 20px;
    font-weight: bold;

}
#schedule>p{
    width: 350px;
    color:#ababab;
    }

    /*festival*/

#festival {
 width: 890px;
padding-left: 18px;

}

#festival>p{
    margin-right: 300px;
}

/*parte de las cajas*/
/*He creado una caja dentro de una caja ya que al tener que dejar el tamaño original de las cajas al poner sombras 
con los paddings no me lo ejecutaba correctamente. De este modo cree una caja dentro de cada caja para
poder poner las sombras y las hice mas pequeñas utilizando los margins.*/
.caja{
    width: 290px;
    height: 200px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;  
}

/*clases de las cajas*/

/*para darles estilos a las cajas creo 4 clases en las que les dare una rotacion y color para luego aplicarlas
en el html*/

.uno{
    transform: rotate(1deg);
    background-color:#ffdbd5;
 
}
.dos{
    transform: rotate(-1deg);
    background-color:#deefab;

}
.tres{
    transform: rotate(1deg);
    background-color:#fefec2;
   
}
.cuatro{
    transform: rotate(-1deg);
    background-color:#9bd9e9;

}

.cajas h1{
    padding-top: 20px;
    padding-left: 40px;
    font-size: 16px;
    font-weight:bolder;
}


.cajas{
    margin-top:20px ;
    width: 250px;
    margin-left: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* con la parte del shadow le doy las mismas sobras a todas las cajas */
    background-clip: content-box;
    border:0;
}

.cajas>p{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  
}

/* En esta parte le quito el margen que dejaba entre cajas ya que en la ultima caja de cada fila no puede haber margen
ya que el aside ya tiene el margen que hay que aplicar para que cuadren perfectamente todos los elementos*/
.caja:nth-child(3n){
    margin-right: 0;

}


article h1{
    font-family: 'Microsoft sans serif';
}

/*aside registro*/
#registro{
  
   padding-left: 23px;
   padding-top: 22px;
   background-color: #9acefe;
   height: 110px;
   margin-top: 20px;
   border-radius:  15px;
  
 
}
#registro>button{
width:240px ;
height: 50px;
background-color: #8ecd68;
font-size: 25px;
color: white;
border-radius:  5px;
border-color: #8ecd68;


}

#registro>p{
    font-size: 12px;
}

/*Lista imagenes*/
#listaImagenes{
   
    margin-top: 20px;
    background-color:#edf1f0 ;
    height: 380px;
    border-radius:  5px;
    border-color: lightgray;
}
#listaImagenes>img{
  
 
    list-style: none;
    margin:5px;
   vertical-align: left;
   display: inline-block;
   margin-left:15px;

  
}

#listaImagenes>p{
    
    float: right;
    font-size: 12px;
    width: 220px;
    vertical-align: left;
 }

/*who*/

#who{
    
    margin-top: 20px;
    top: 900px;
    background-color:  #fefec2;
    padding-left: 10px;
    height: 490px;
    border-radius:  5px;
    border-color: #fefec2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: rotate(0.8deg);
}
#who>p{

    margin:0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 50px;
    font-family: sans-serif;
   
}

#who>h1{
    color: #731704;
}

#who>#roman{
    font-family: 'Times New Roman';

}




/*Botones de redes*/


#redes{
    margin-top: 20px;
    
}
#redes>button>img{
    float:left; 
}
#redes>button>p{
    width: 120px;
    float:left;
    text-align: left;
    color: white;
  
}

#redes>button{
    width: 230px;
    margin-bottom: 10px;
    height: 40px;
    
    border-radius:  5px;
    border-color:   lightblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}


#identica{
    background-color: #7ab3c7;
}

#twitter{
    background-color: #00bcfe;
}

#twitter>p{
    margin-left: 35px;
}

/*footer listas descripcion*/

/*Al meter dentro del footer la parte In partners with para solucionar la parte del cambio de color ya que hay una franja
en negro he utilizado los gradientes*/


footer{
    height: 300px;
    background: linear-gradient(
    to top,
    gray 0%,
    gray 50%,
    white 50%,
    white 100%);
    width: 1190px;
    float: left;
    color: black;

}


#blanco{
    color: white;
}

/*Para que los elementos suban arriba en la parte de los links ya que las listas de descripcion
que contenian pocos elementos se iban al fondo utilizo la propiedad vertical aling top que lo q hace es ponerlos arriba*/

.final{
    padding-top:20px;
    text-decoration: none;
    display: inline-block;
   list-style: none;
   margin: 0;
   height: 95px;
   vertical-align: top;
}

.final a
{
    text-decoration: none;
    color: white;
}

#Drum{
    width: 200px;
    padding-left: 70px;
  
}

#redes2{
    width: 230px;
}

#fdentro{
width: 300px;

margin-left: 70px;
text-align: right;
font-size: 14px;
}


#ultimo{
    padding-left: 18px;
}

#ultimoh1{ 
    /*le doy una with que ocupe todo el body para que no pueden subirlos elementos de la franja negra asi igual como el elemento del p*/
    padding-left: 18px;
    width: 1190px;
    font-weight: bold;
    font-size: 35px;
    margin-bottom:40px ;
}

#ultimop{
    padding-left: 18px;
    text-align: left;
    width: 630px;
}

/*para colocar la flecha lo que hecho es usar una posicion absoluta y colocarlo por cordenadas*/
#arrow{
    position: absolute;
  top: 260px;
  left: 230px;
  width: 30px;
  

}