
/*Esta pagina web fue primero diseñada en version movil para luego a la hora de ir ampliendo el tamaño de pantalla
tener que hacer menos ajustes. Utilizando el display flex y aliniendo los objtos para movil en formatio columna*/
*{
   
    box-sizing: border-box;
   
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.857);
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Diferentes de tipos de contendores de texto con sus respectivos tamaños de fuente y colores **/
h1{
    font-size: 10vw;
   text-align: center;
   color: rgb(254, 254, 254);
   
}

p{
    font-size: 4vw;
    
    color: rgb(254, 254, 254);
}

a{
    font-size: 5vw;
    color: rgb(254, 254, 254);
}
ul{
    list-style: none;
    margin: 0;
}
/* Header */
header{
    background-color: rgb(0, 0, 0);
    font-size: 5vw;
}
header li{
    margin-bottom: 2%;
}
#logo{
    margin: 0;
    padding-left: 11%;
    padding-top: 7%;
    width: 30%;
    
}

header.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5%;
}
header a{
  
    text-decoration: none;
    font-weight: bold;
    color:white;
   
}
header a:hover{
    color: grey;
}
 
/*Parte del menu desplegable que al cliclarlo desplayea un menu oculto */
#menu-toggle {
    display: none;
    margin: 0;
  }
  #menu {
    background-color: #0d0d0c;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 auto;

  }
  /*Parte que lo acciona al ser checkeado y le añade un height para que aparezca la lista de mavegacion
  Esta puesto con click ya que al ser movil no se puede poner el raton encima sin cliclar*/
  #menu-toggle:checked + #menu {
    max-height: 100vh;
  }
/*Div de presentacion con boton para apuntarse
*/
.joan{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;/*Para que los div salgan en formato columna que para movil es mas adecuado
    en la version de escritorio se usara el formato row que displayea los objetos en fila*/
    width: 100%;
    height: 60vh;
    /*Utilizo el background image para poner los ojetos encimas ya sean texto botones etc
    y poder usar el gradiente que atenua la foto para que no se vea tan nitida y quite protagonismo*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url("../img/cbum2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*Repeat para que no repita el background para ajustarlo al tamaño si no al reves ajusta el tamaño del
    background en funcion de la pantalla sin repetir lo zommea*/
}

/*Galeria imagenes*/

.galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    margin-top: 12%;
    margin-bottom: 15%;

}
.texto{
    margin-left: 5%;
    margin-right: 5%;
}
.fotos-gym1 img{
    width: 95%;
}
img{
    width: 100%;  
}
.image img{
    width: 90%; 
}
aside{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  margin-bottom: 10%;

  width: 100%;
  
  height: 72vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
  ,url("../img/cami.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

/*footer*/
footer{
    width: 100%;
    background-color: black;
}

footer .container{
    height:100%;
    display: flex;
   
   text-align: center;
    background-color: black;
    color: white;
    flex-direction: column;
   
}
footer img{
    width: 30%;
}
footer li{
    display: inline-block;
}

#redes{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    
}

footer p{
    text-align: center;
}

/*Formulario login */
form{
    margin-left: 0%;
    width: 100%;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(70px);/*funcion para que trasparente el color y asi se adapta el fondo*/
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-bottom: 0;
}

.b{
    width: 60%;
    font-size: 1.25em;
    font-weight: bold;
    padding: 3% 10%;
    border-radius: 3%;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(16, 16, 16);
}

#to {
    font-size: 2vh;
    margin-top: 0;
    flex-direction: row;  
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    cursor: pointer;
    margin-left: 20%;
    margin-bottom: 5%;
   
  }
 

/*Parte para cliente esta hecha responsive igualmente */
  #h1f, #h1c
{

display: none;
}
#tablaFisios,#tablaClases,#tc{
    margin-bottom: 10%;
    margin-top: 10%;
}

/* Parte del mapa 
Se le aplica mas cambios en la parte de escritorio */
 .mapa{
    height: 50%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 15%;
    margin-bottom: 3%;
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
  ,url("../img/bi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
 }

.iframe{
    width: 100%;
    height: 30vh;
}
.mapa>.derecha>.b{
   margin-left: 15%;
}
/*reponsive*/

/*Parte responsiva apartir de 801px lo que seria una version de escritorio en este caso
el principal cambio es el cambio son las alturas el cambio que se produce en la barra de navegacion al
pasar a estar en modo fila sin tener el modo checked y el mapa*/
@media (min-width: 801px) {
   
    .joan{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
      
        height: 85vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.35)
        )
        ,url("../img/ursc.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .joan h1{
        font-size: 8vh;
    }

    .b{
        width: 30%;
        font-size: 1.25em;
        font-weight: bold;
        padding: 3% 5%;
        border-radius: 3%;
        border: 2px solid rgba(0,0,0,0.3);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: white;
        background-color: rgb(18, 16, 20);
    }

    .background{
        height: 65vh;
    }
    
  form{
    width: 30%;
   

  }
    h1{
        font-size: 3vw;
       
    }
    p{
        font-size: 1vw;
    }
    
    a{
        font-size: 2vw;
    }
    /*Cambio en el header para ponerlo en modo fila en el escritorio*/
header .container{
    flex-direction: row;
    justify-content: space-between;
}

header nav{
  
   
    display: inline-block;
    padding: 0;
    margin: 0;
    
}
header li{
    display: inline-block;
}
header a{
    margin-left: 20%;
}
#logo{
  width: 20%;
  margin:0;
  padding-bottom: 0;
  padding-top: 1%;
  padding-left: 5%;
  display: inline-block;
}
.fotos-gym1 img{
    width: 30%;
}
.galeria{
    margin: 0;
width: 100%;
display: inline-block;
vertical-align: top;
}
.galeria p{
    margin-top:5%;
    font-size: 3vh;
}

img{
 width: 10%;
}

aside{
    margin-top: 5%;
    margin-bottom: 4%;
    display: inline-block;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("../img/camisetaweb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
    
}


aside h1{
    padding-top: 18%;
}
.image img{
    width: 100%;
    display: inline-block;
    flex-direction: row;
}



footer .container{
  
   
   flex-direction: column;
   text-align: center;
  
   
}

footer{
    
    width: 100vw;
}

#redes{
    justify-content: center;
    padding: 0;
    
}

#to {
    visibility: hidden;
  
   margin:0;
  }
 
 /*Parte que desactiva el checked que desplayeaba el menu de navegacion en la version de movil*/
  #menu-toggle {
    display: none;
    margin: 0;
  }
  #menu {
    background-color: #000000;
    overflow: hidden;
    max-height: 100%;
    padding: 0;
    margin: 0 auto;
    width: 60%;

  }
  #menu-toggle:checked + #menu {
    max-height: 0;
  }
/*CSS de la parte de la practica de entorno cliente*/
.ejer3{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
#sexo{
    margin-top:3%;
    font-size: 2.5vh;
    color: black;
}
.ejer3 form {

font-size: 1vh;
display: inline-block;
width: 75%;

}
.ejer1, .ejer2{
    width: 100%;
    margin-top: 5%;
}

.ejer1>h1,.ejer2>h1{
    margin-bottom: 5%;
}
.imc{
width: 50%;
display: inline-block; 
padding-left: 3%;
}


.imcResultado{
float: right;
width: 50%;
}

.imcResultado>p,.imcResultado>ul{
    padding-top: 5%;
    padding-left: 15%;
    font-size: 2.5vh;

}
.ejer1 form{
    display: inline-block; 
    width: 100%;
}
.ejer2 form{
    display: inline-block; 
    width: 100%;
}
.ejer3 input {

    width: 3%;
       display: inline-block;
    }
.ejer3 label {

        width: 7%;
           display: inline-block;
}

.ejer3 button{
    width: 30%;
}
/*Parte del mapa el principal cambio es que la parte de la direccion pasa a estar a ala derecha
del mapa lo que seria en formato fila*/
.mapa{
    margin-top: 2%;
    height: 80vh;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 15%;
    margin-bottom: 8%;
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
  ,url("../img/pierna.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
 }
.derecha{
    width: 40%;
    float: right;
 
   
}
.mapa>.texto>h1{
    margin-bottom: 5%;
}
.mapa>.derecha>.b{
    width: 50%;
    height: 10vh;
    margin: 0%;
}
.derecha>p{
    font-size: 3vh;
}
.iframe{
    margin-top: 1%;
    margin-left: 10%;
    width: 40%;
    height: 50vh;
    display: inline-block;
}

}
/*tablet*/
/*La parte de tablet es muy parecida a la de escritorio pero tambien a la de movil es decir en hibrido
entre las dos Mantiene el menu de navegacion de la version de movil pero a su vez, mantiene
el formato del mapa que tiene la version de escritorio*/

@media only screen and (min-width: 420px) and (max-width: 800px) {
   
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
       
        display: inline-block;
        
    }
    header li{
        
        display: inline-block;
    }
    header a{
        margin-left: 10%;
    }
    #logo{
      width: 30%;
      margin:0;
      padding-bottom: 0;
      display: inline-block;
    }
    .fotos-gym1 img{
        width: 40%;
    }
  
   
    aside{
      
      
      height: 70vh;
     
    
    }

    aside h1{
        font-size: 6vh;
    }
    

    #menu {
        
        width: 100%;
        
      }
#menu a{
    font-size: 3vh;
}
      #to {
        font-size: 3vh;
      }
      .mapa{
        margin-top: 2%;
        height: 74vh;
        width: 100%;
        padding-top: 3%;
        padding-bottom: 15%;
        margin-bottom: 8%;
        background-image: linear-gradient(
          0deg,
          rgba(0,0,0,0.4),
          rgba(0,0,0,0.4)
      )
      ,url("../img/pierna.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
     }
    .derecha{
        width: 40%;
        float: right;
     
       
    }
    .mapa>.texto>h1{
        margin-bottom: 5%;
        font-size: 3vh;
        width: 40%;
       align-items: center;

    }
    .mapa>.derecha>.b{
        width: 60%;
        height: 10vh;
        margin: 0;
    }
    .derecha>p{
        font-size: 2vh;
       
    }
    .iframe{
        margin-top: 1%;
        margin-left: 5%;
        width: 45%;
        height: 50vh;
        display: inline-block;
    }
    
     
}

/*inicio sesion*/





form *{
    font-family: 'Poppins',sans-serif;
    color: #ece2e2;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.footerlogin{
    margin: 0;
}

body{
    color:white;
}

table{
    width: 100%;
    margin-bottom: 5%;
}

#clases,#fisios{
   display: none;
  
}
